@font-face {
    font-family: Source Sans Pro;
    src: url(resources/fonts/SourceSansPro-Regular.otf)
}


body {
    font-family: Source Sans Pro, sans-serif;
    margin: 0;
}

#header {
    width: 100%;
    position: relative;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #F2F5F8;
    box-sizing: border-box;
}

#header-title{
    margin: 0;
    font-size: 40px;
    line-height: 40px;
}

#game-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    align-items: center;
}

#game-canvas {
    width: 426px;
}

#board-container{
    margin-top: 10px;
    height: 50px;
    width: 426px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#score-grid {
    grid-column: 2;
    display: flex;
    justify-content: center;
}

#score {
    font-weight: bold;
    font-size: 20px;
    color: #515152;
}

#day-grid {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

#day-grid > span {
    color: #515152;
    font-size: 12px;
}

#best-score {
    color: #515152;
}

#trophy-icon {
    width: 14px;
    height: 14px;
    margin-right: 4px;
}

#gameover-container {
    display: none;
    width: 426px;
    height: 600px;
    margin: 30px auto ;
    border-radius: 10px;
    background: linear-gradient(to right, #3564C3, #1b75d6);
    flex-direction: column;
    align-items: center;
}

#gameover-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F2F5F8;
    font-size: 32px;
    font-weight: bold;
    margin-top: 30px;
    letter-spacing: 1px;
}

#miniature-grid {
    margin-top: 30px;
    border-radius: 10px;
    border: 10px solid #F2F5F8;
    background: #F2F5F8;

}

#new-game {
    width: 250px;
    border-radius: 25px;
    background: #F2F5F8;
    border: none;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #3564C3;
    letter-spacing: 1px;
    cursor: pointer;
}

#gameinfo-container {
    width: 426px;
    margin: 0 auto;
    text-align: center;
    color: #344861;
}

#gameinfo-container > p {
    color: #6e7c8c;
    font-weight: 300;
}